body{
	background-color: #ffffff;
	color: #000000;
}
figcaption{
	font-size: 16px;
	width: 315px;
	font-family: Arial-black; 
} 
.imagen{
	width: 350px;
    height: 235px;
	border: 6px double #000000;
}
.ruta-cerros img{
	border: 6px double #000000;
    height: 300px;
	width: 450px; 
	margin: auto;
}
.Cigueñas{
	border: 3px solid #000000;
	margin: auto;
}
a{
	text-decoration: none;
	color: #00f;
}
a:visited{
	color: #962496;
} 
a:hover, a:focus{
	color: #2EE9F5;
}
a:active{
	color: #FF0000;
}
.descripción{
	width: 1000px;
}